{% extends 'base.html' %}
{% load widget_tweaks %}
{% block cart_detail %}
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
                {% for item in cart %}
                        {% with product=item.product %}
                           
                            <div class="row odna-stroka">
                              <div class="pic col-md-4">
                                <img src="{{ product.image.url }}" width="256" height="128"/>
                                  <a href="{{ product.get_absolute_url }}"><p class="proname">{{ product.name }}</p></a>
                              </div>
                              <div class="qua col-md-3"><form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    {% csrf_token %}
                                    <input type="submit" value="Обновить">
                                </form></div>
                              <div class="price col-md-3">{{ item.price }}р.</div>
                              <div class="del col-md-2"><a href="{% url "cart:CartRemove" product.id %}">Удалить</a></div>
                            </div>
                        {% endwith %}
                    {% endfor %}
        </div>
        <div class="col mb-2">
            <div class="row">

                {% if cart.cart %}
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light incartbut" onclick="location.href='{% url "shop:ProductList"%}'">Продолжить покупки</button>
                </div>
                    <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-default btn-sm" onclick="location.href='{% url "orders:OrderCreate" %}'">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Оформить заказ
                  </button>
                </div>
                {% else %}
<div class="col-sm-12 col-md-12 text-center">
                        <br>
                    <p1>Корзина пуста</p1>
                </div>
                    <div class="col-sm-12  col-md-12">
                        <br>
                    <button class="btn btn-block btn-light incartbut" onclick="location.href='{% url "shop:ProductList"%}'">Продолжить покупки</button>
                </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}