{% extends 'base.html' %}


{% block category %}
    {% for cat in categories %}
        <a href="{{ cat.get_absolute_url }}" class="list-group-item">{{ cat.name }}</a>
        <ul class="list-group bg-dark">
            <li class="list-group-item bg-dark">
                <br>
                {% for sub in subcategories %}
                    {% if sub.category.name == cat.name %}
                            <a href="{{ sub.get_absolute_url }}" class="list-group-item">{{ sub.name }}</a>
                        <br>
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
        <br>
    {% endfor %}
{% endblock %}


{% block content %}


    <div class="product-detail">
    <h4><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>-<a href="{{ product.subcategory.get_absolute_url }}">{{ product.subcategory }}</a></h4>
        <hr>
        <div class="col-sm-4">
      <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1>{{ product.name }}</h1>

      <p class="price">
        {{ product.price }} руб.
      </p>
        <form action="{% url "cart:CartAdd" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
      <span>
        {{ product.description | linebreaks}}
      </span>
    </div>
  </div>

{% endblock %}