{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dark Side Shop</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300" rel="stylesheet"> 
    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="logo-cont">
          <a class="logo" href="{% url 'shop:ProductList' %}">DARKSIDE SHOP</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'shop:ProductList' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shipping&Payment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
            <li>
                <button class="btn btn-outline-primary cart-but" onclick="location.href='{% url "cart:CartDetail" %}'">
                    {% with total_items=cart|length %}
                        {% if cart|length == 0 %}
                            <i class="fas fa-cart-arrow-down"></i> Cart:
                                {{ total_items }} item {{ cart.get_total_price }} $.
                      {% elif%}
                  <i class="fas fa-cart-arrow-down"></i> Cart:
                                {{ total_items }} items {{ cart.get_total_price }} $.
                         {% else %}
                            <i class="fas fa-shopping-cart"></i> Cart is empty
                        {% endif %}
                    {% endwith %}
                </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container main">

      <div class="row">
        <div class="col-lg-12">{% block cart_detail %}{% endblock %}</div>
        <div class="col-lg-3 sidemenu">
            <br>
            <div>
                {% block category %} {% endblock %}
            </div>
            <br>
        </div>

        <div class="col-lg-9">

        {% block carousel %} {% endblock %}
            <br>
            {% block description %} {% endblock %}
          <div class="row">

            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-4 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DarkSide 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
