{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
  Оформление заказа
{% endblock %}

{% block cart_detail %}
  <h1 class="text-center pb-4 pt-3">Checkout </h1>
  <div class="row">
  <div class="col-sm-5">
    
    <h2>Заполните форму</h2>
    <div class="or-form">
    <form class="order-form" action="." method="post">
      <div class="flex">
        <div class="block">
          <label>First name</label>
          {% render_field form.first_name class="form-control" %}
        </div>
        <div class="block">
          <label>Second name</label>
          {% render_field form.last_name class="form-control" %}
        </div>заказа
      </div>
      <label>E-mail</label>
      {% render_field form.email class="form-control" %}
      <label>Address</label>
      {% render_field form.address class="form-control" %}
      <label>Post code</label>
      {% render_field form.postal_code class="form-control" %}
      <label>City</label>
      {% render_field form.city class="form-control" %}
      <label>Comment</label>
      {% render_field form.comment class="form-control" rows="10" %}
    </div>

      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>

      {% csrf_token %}
      <button class="btn" type="submit">Proceed</button>
    </form>
  </div>

  <div class="order-info col-sm-7">
    <h2>Ваш заказ</h2>
    <ul>
      {% for item in cart  %}
        <li>
          {{ item.product.name }} | Quantity: {{ item.quantity }} | Total: {{ item.total_price }}
        </li>
      {% endfor %}
    </ul>
  </div>
  </div>
{% endblock %}
